<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main"/>
		<title>TODOs APP</title>
		<style type="text/css" media="screen">
			#status {
				background-color: #eee;
				border: .2em solid #fff;
				margin: 2em 2em 1em;
				padding: 1em;
				width: 12em;
				float: left;
				-moz-box-shadow: 0px 0px 1.25em #ccc;
				-webkit-box-shadow: 0px 0px 1.25em #ccc;
				box-shadow: 0px 0px 1.25em #ccc;
				-moz-border-radius: 0.6em;
				-webkit-border-radius: 0.6em;
				border-radius: 0.6em;
			}

			.ie6 #status {
				display: inline; /* float double margin fix http://www.positioniseverything.net/explorer/doubled-margin.html */
			}

			#status ul {
				font-size: 0.9em;
				list-style-type: none;
				margin-bottom: 0.6em;
				padding: 0;
			}

			#status li {
				line-height: 1.3;
			}

			#status h1 {
				text-transform: uppercase;
				font-size: 1.1em;
				margin: 0 0 0.3em;
			}

			#page-body {
				margin: 2em 1em 1.25em 18em;
			}

			h2 {
				margin-top: 1em;
				margin-bottom: 0.3em;
				font-size: 1em;
			}

			p {
				line-height: 1.5;
				margin: 0.25em 0;
			}

			#controller-list ul {
				list-style-position: inside;
			}

			#controller-list li {
				line-height: 1.3;
				list-style-position: inside;
				margin: 0.25em 0;
			}

			@media screen and (max-width: 480px) {
				#status {
					display: none;
				}

				#page-body {
					margin: 0 1em 1em;
				}

				#page-body h1 {
					margin-top: 0;
				}
			}
		</style>
	</head>
	<body>
		<a href="#page-body" class="skip"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>

		<div id="status" role="complementary">
			<sec:ifNotLoggedIn>
				<asset:image id="foto" src="todolist.png" alt="TodDo List"/>
			</sec:ifNotLoggedIn>
			<sec:ifAllGranted roles="ROLE_ADMIN">
				<asset:image id="foto" src="admin.jpeg" alt="Administrador"/>
			</sec:ifAllGranted>
			<sec:ifAllGranted roles="ROLE_BASIC">
				<asset:image id="foto" src="logo.jpg" alt="Usuario"/>
			</sec:ifAllGranted>
		</div>

		<div id="page-body" role="main">

			<h1>Bienvenido a la alicación TODO</h1>

			<div id="controller-list" role="navigation">
				<ul>
					<sec:ifAllGranted roles="ROLE_BASIC">
						<p>Gracias a esta aplicación podrás gestionar todas las tareas y organizarlas por listas.
						Éstas son algunas de las acciones que puedesrealizar por el momento:</p>
					</sec:ifAllGranted>

					<sec:ifAllGranted roles="ROLE_ADMIN">
						<p>Gracias a esta aplicación podrás gestionar usuarios, categorías y etiquetas.
						Éstas son algunas de las acciones que puedesrealizar por el momento:</p>
					</sec:ifAllGranted>
					<!-- Lista de operaciones del administrador -->
					<sec:ifAllGranted roles="ROLE_ADMIN">
						<% controladoresAdmin = ["Category":"Categorías", "Tag":"Etiquetas",
												 "User":"Usuarios"]%>
						<g:each var="c" in="${grailsApplication.domainClasses.sort { it.fullName } }">
							<g:if test="${(controladoresAdmin.get(c.name)) != null}">
								<li class="controller">
									<g:link controller="${c.logicalPropertyName}">
										<% def a=controladoresAdmin.get(c.name) %>
										Gestionar ${a}
									</g:link>
								</li>
							</g:if>
						</g:each>


						<li class="controller"><a href="/todo/user/index.gsp">Gestionar usuarios</a></li>
					</sec:ifAllGranted>
					<!-- Lista de operaciones del usuario -->
					<sec:ifAllGranted roles="ROLE_BASIC">
						<% controladoresUser = ["Todo":"Tareas"]%>

						<g:each var="c" in="${grailsApplication.domainClasses.sort { it.fullName } }">
							<g:if test="${(controladoresUser.get(c.name)) != null}">
								<li class="controller">
									<g:link controller="${c.logicalPropertyName}">
										Gestionar ${a} <%= controladoresUser.getAt(c.name) %>
									</g:link>
								</li>
							</g:if>
						</g:each>
					</sec:ifAllGranted>
				</ul>
			</div>
		</div>
	</body>
</html>
