<%--
  Created by IntelliJ IDEA.
  User: expertojava
  Date: 19/02/16
  Time: 15:22
--%>

<%@ page import="es.ua.expertojava.todo.Tag" %>
<!DOCTYPE html>
<html>
<head>
    <meta name="layout" content="main">
    <g:set var="entityName" value="${message(code: 'tag.label', default: 'Tag')}" />
    <title><g:message code="default.show.label" args="[entityName]" /></title>
</head>
<body>
<a href="#show-tag" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
<div class="nav" role="navigation">
    <ul>
        <li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
        <li><g:link class="list" action="index"><g:message code="default.list.label" args="[entityName]" /></g:link></li>
        <li><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></li>
    </ul>
</div>
<div id="show-tag" class="content scaffold-show" role="main">
    <h1><g:message code="default.show.label" args="[entityName]" /></h1>
    <g:if test="${flash.message}">
        <div class="message" role="status">${flash.message.decodeHTML()}</div>
    </g:if>
    <ol class="property-list tag">

        <g:if test="${tagInstance?.name}">
            <li class="fieldcontain">
                <span id="name-label" class="property-label"><g:message code="tag.name.label" default="Name" /></span>

                <span class="property-value" aria-labelledby="name-label"><g:fieldValue bean="${tagInstance}" field="name"/></span>

            </li>
        </g:if>

        <g:if test="${tagInstance?.colorRGB}">
            <li class="fieldcontain">
                <span id="colorRGB-label" class="property-label"><g:message code="tag.colorRGB.label" default="Color" /></span>

                <span class="property-value" aria-labelledby="colorRGB-label"><g:fieldValue bean="${tagInstance}" field="colorRGB"/></span>

            </li>
        </g:if>

        <g:if test="${tagInstance?.todos}">
            <li class="fieldcontain">
                <span id="todos-label" class="property-label"><g:message code="tag.todos.label" default="Todos" /></span>

                <g:each in="${tagInstance.todos}" var="t">
                    <span class="property-value" aria-labelledby="todos-label"><g:link controller="todo" action="show" id="${t.id}">${t?.encodeAsHTML()}</g:link></span>
                </g:each>

            </li>
        </g:if>

    </ol>
    <g:form url="[resource:tagInstance, action:'delete']" method="DELETE">
        <fieldset class="buttons">
            <g:link class="edit" action="edit" resource="${tagInstance}"><g:message code="default.button.edit.label" default="Edit" /></g:link>
            <g:link class="delete" action="deleteConfirm" resource="${tagInstance}"><g:message code="default.button.delete.label" default="Delete" /></g:link>
        </fieldset>
    </g:form>
</div>
</body>
</html>